/*****************
GENERAL
*****************/
body {
  font-family: 'DejaVu Sans', sans-serif;
  /*-webkit-filter: grayscale(100%);*/
  /*-webkit-filter: blur(6px);*/
  /*transform: rotate(180deg);*/
}
#wrapper {
  /*max-width: 98%;*/
  /*margin: 0 5%;
  padding: 1% 5%;*/
  border: 1px solid;
  margin: auto;
}


a {
  text-decoration: none;
  display: inline-block;
}



img {
  max-width: 30%;
}

h3 {
/*  margin: 0 0 1em 0;*/
  /*margin: 0 0 1em;*/
}

/*section {
  margin: 0;
}*/


/*****************
HEADING
*****************/

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#logo {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: sans-serif;
  /*font-family: 'Changa One', sans-serif;*/
/*  font-family: 'Contrail One', cursive;*/
  margin:15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}

h2 {
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: normal;
}



/*****************
NAVIGATION
*****************/

nav {
  text-align: center;
  padding: 10px 0;
  margin:20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
  display: inline-block;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}



/*****************
FOOTER
*****************/

footer {
  font-size: 0.8em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #d8bfd8;
}



/*****************
PAGE: ABOUT
*****************/

.profile-photo {
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 100%;
}





/*****************
PAGE: PORTFOLIO
*****************/

#gallery {
  margin: 0;
  /*padding: 0;*/
  list-style: none;
  /*margin: 1% 5% 3%;*/
  border: 1px solid;
}

#gallery li {
  float: left;
  /*width: 45%;*/
  /*width: auto;*/
  /*margin: 0 auto 6em;*/
  /*background-color: #d8d8d8;*/
  color: #d8bfd8;
  padding: 2%;
  margin: 0 auto 6em;
  border: 1px solid;
  width: 90%;
  /*margin: .1em;*/
}

#gallery li a p {
  /*margin: 0;
  padding: 1%;*/
  font-size: 1.1em;
  color: #d8bfd8;

}



/*****************
PAGE: CONTACT
*****************/

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display:block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

/*.contact-info li.phone a {
  background-image: url('../img/phone.png');
}*/

.contact-info li.mail a {
  background-image: url('../img/mail.png');
}



/*****************
COLORS
*****************/

/* site body */
body {
  background-color: #fff8dc;
  color: #999;
}

/* indigo header */
header {
  background:#663399;
  border-color: #4b0082;
}

/* nav background on mobile */
nav {
/*  background: #bdb76b;*/
  background: #4b0082;
}

/* logo text */
h1, h2 {
  color: #fff;
}

/* links */
a {
  color: #4b0082;
}

/* nav link */
nav a, nav a:visited {
  color: #fff;
}

/* selected nav link */
nav a.selected, nav a:hover {
  color: #d8bfd8;
}



/*****************
MEDIA QUERIES
*****************/
/*
single column until 476px wide
then single column with bigger margins or padding on gallery <li>s
need single column portfolio until about 720px width

then 3 column much more spread out at 1200

*/

/*
@@media ( min-width: 720px ) {
}*/
