/*****************
GENERAL
*****************/

@font-face {
	font-family: 'Overpass';
	src: url('fonts/Overpass');
}

body {
  font-family: 'Open Sans', sans-serif;
  /*font-family: 'DejaVu Sans', sans-serif;*/
  /*box-sizing: border-box;*/
  /*-webkit-filter: grayscale(100%);*/
  /*-webkit-filter: blur(2px);*/
  /*transform: rotate(180deg);*/
}

#wrapper {
  max-width: 58em;
  margin: 1em auto;
  padding: 0 5%;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  width: 100%;
  height: auto;
}

h3 {
  margin: 0 0 1em;
}


/*****************
HEADING
*****************/

header {
  float: left;
  margin: -2em 0 1.8em 0;
  padding: .4em 0 0 0;
  width: 100%;
}

#logo {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: 'Overpass', sans-serif;
  /*font-family: 'Changa One', sans-serif;*/
  margin:15px 0;
  font-size: 1.8em;
  font-weight: normal;
  line-height: 0.8em;
}

h2 {
  font-size: 0.75em;
  margin: -.3125em 0 0;
  font-weight: normal;
}


/*****************
NAVIGATION
*****************/

nav {
  text-align: center;
  padding: .625em 0;
  margin: 1.25em 0 0;
}

nav ul {
  list-style: none;
  margin: 0 .625em;
  padding: 0;
  display: inline-block;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: bold;
  padding: 1em .7em;
}


/*****************
FOOTER
*****************/

footer {
  font-size: 0.75em;
  font-family: 'Overpass', sans-serif;
  text-align: center;
  padding-top: 3em;
  color: #ccc;
}


/*****************
PAGE: ABOUT
*****************/

.profile-photo {
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 100%;
}


/*****************
PAGE: PORTFOLIO
*****************/

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  /*float: left;*/
  width: 90%;
  /*margin: 2.5%;*/
  margin: 2em auto 4em;
  /*background-color: #f5f5f5;*/
  color: #663399;
}

#gallery li a p {
  margin: 0;
  padding: 1%;
  font-size: 1em;
  margin: 0;
}


/*****************
PAGE: CONTACT
*****************/

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display:block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}


.contact-info li.mail a {
  background-image: url('../img/mail.png');
}

footer {
  clear: both;
}


/*****************
COLORS
*****************/

/* site body */
body {
  background-color: #fff8dc;
  color: #999;
}

/* indigo header */
header {
  background:#663399;
  border-color: #4b0082;
}

/* nav background on mobile */
nav {
/*  background: #bdb76b;*/
  background: #4b0082;
}

/* logo text */
h1, h2 {
  color: #fff;
}

/* links */
a {
  color: #4b0082;
}

/* nav link */
nav a, nav a:visited {
  color: #fff;
}

/* selected nav link */
nav a.selected, nav a:hover {
  color: #d8bfd8;
}



/*****************
MEDIA QUERIES
*****************/

@media screen and ( min-width: 480px ) and ( max-width: 639px ) {
  #gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
  }

  #gallery li:nth-child(2n + 1) {
    clear: both;*/
  }

  /*****************
  TWO COLUMN LAYOUT
  *****************/
  #primary {
    width: 50%;
    float: left;
    margin-left: 5%;
  }

  #secondary {
    width: 40%;
    float:right;
  }

  /*****************
  PAGE: ABOUT
  *****************/
  .profile-photo {
    float: left;
    margin: 0 5% 5em 0;
  }
}


@media ( min-width: 640px) {
  #gallery li {
    float: left;
    width: 28.33%;
    margin: 2.5%;
  }

  /*****************
  HEADER
  *****************/
  nav {
    float: right;
    background: none;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
    width: 45%;
  }

  #logo {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: .825em;
    margin-bottom: 20px;
  }

  header {
    border-bottom: .5em solid #4b0082;
    margin-bottom: 3.75em;
  }
}
